.menu {
  background-color: $darkBrown;
  text-align: center;
  padding: 10px;
  border: solid 1px $darkGolden;

  &__categories {
    border: solid 1px $darkGolden;
    text-align: center;
    padding: 20px;
  }

  &__category {
    display: block;
    text-align: center;
    padding: 5px 20px;
    margin-bottom: 8px;
    min-height: 78px;
    position: relative;

    @mixin atMedium {
      padding: 15px 30px;
      margin-bottom: 10px;
      min-height: 75px;
    }

    &::before {
      position: absolute;
      bottom: 0;
      content: '';
      height: 1px;
      width: 150px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $darkGolden;
    }

    &:last-child::before {
      display: none;
    }
  }

  &__category-link {
    display: block;
    text-align: center;
    color: $darkGolden;
    font-size: 20px;

    @mixin atMedium {
      display: block;
      text-align: center;
      color: #c09340;
      font-size: 28px;
    }
  }

  &__sub-items {
    color: $darkGolden;
    font-size: 14px;
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
    opacity: 0;
    display: block;
    transition: all 0.3s ease-out;
  }

  &__category:hover &__sub-items {
    opacity: 1;
  }
}
