.page-section {
  padding: 30px 0;
  position: relative;
  @mixin atMedium {
    padding: 70px 0;
  }

  &--dark-pattern {
    background: url('assets/images/about-bg.jpg') top center no-repeat;
    background-size: cover;
  }

  &--light-pattern {
    background: url('assets/images/chef-bg.jpg') top center no-repeat;
    background-size: cover;
  }

  &--illustration-image {
    background: url('assets/images/menu-bg.jpg') top center no-repeat;
    background-size: cover;
  }

  &--food-image {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url('assets/images/book-bg.jpg') top center no-repeat;
    background-size: cover;
  }

  &--lighter-pattern {
    background: url('assets/images/lighter-bg.jpg') top center no-repeat;
    background-size: cover;
  }
}
