.section-heading {
  position: relative;
  &--main-dark {
    font-size: 22px;
    color: #fff;
    font-family: 'Abhaya Libre', serif;
    font-weight: 400;
    text-transform: uppercase;

    @mixin atMedium {
      font-size: 24px;
    }
  }

  &--main-light {
    color: #2e2e2d;
  }

  &--sub-dark {
    font-size: 30px;
    color: $darkGolden;
    font-family: 'Abhaya Libre', serif;
    font-weight: 600;
    position: relative;
    @mixin atMedium {
      font-size: 38px;
    }
  }
  .heading-decorator {
    transform: translateX(0);
    width: 15%;
    &--floated-right {
      width: 15%;
      transform: translateX(100%);
    }
    &--center {
      transform: translateX(-50%);
      width: 130px;
      left: 50%;
      position: relative;
    }
  }
}

.paragraph {
  color: #c9c9c9;
  line-height: 1.4;

  &--dark {
    color: #2e2e2d;
  }
}
